.button {
  padding: 0.3rem 0.5rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #7f8c8d;
  color: #fff;
  font-weight: bold;
}

.active {
  background-color: #1abc9c;
}
